<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


</head>
<body>
<header>
    <div class="container-fluid div-header">
        <div class="row">
            <div class="col div-left-header">
                <h3>Admin</h3>
            </div>
            <div class="col div-right-header">
                <h3>Logout</h3>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-2 vh-100 div-left-body">
            <div class="container-fluid div-admin-user">
                <div class="container-fluid admin-button">
                    <a href="#">Admin</a>
                </div>
                <div class="container-fluid user-button">
                    <a href="#">User</a>
                </div>
            </div>
        </div>


        <div class="col-10 vh-100 div-right-body">
            <div class="container-fluid admin-panel">
                <h1>Admin panel</h1>
            </div>
            <div class="container-fluid nav-panel">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New users</a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid all-users">
                <h3>All users</h3>
            </div>


            <div class="container-fluid table-panel">
                <table class="table table-striped">
                    <thead class="table-panel-thead">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="table-panel-tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid vh-100" id="popup">
    <h2>Popup</h2>
    <div id="body-popup">
        <div id="content-popup">
            <button id="close-popup" style="float: right">X</button>
            <div>
                <h3>Hello popup</h3>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script src="main.js"></script>
</body>
</html>